body {
  background: url(papier.gif);
}
div.adres {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  background: yellow;
  margin-bottom: 10px;
  border: 4px solid;
  padding: 5px;
}
span.nazwisko {
  color: blue;
  display: block;
  font-weight: bold;
  border-bottom: thin solid blue;
  border-top: thin solid blue;
}
span.ulica {
  display: block;
  color: green;
}
span.kod {
  color: brown;
}
span.telefon {
  display: block;
}
